img{
	width: 250px;
	border-radius: 200px;
	margin-bottom: 30px;
	margin-top: 20px;
}


body{
	background-color: #E9E8E8;
	color: black;
	font-family: Times new roman;
	font-size: 30;
}

h1{
	color: #913175;
	font-size: 40;
	margin: 30px;
}

h2{
	color : #CD5888;
	font-weight: lighter;
	font-size: 32;
	margin: 30px;
}

h1,h2{
	font-family: Roboto;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
}
a:hover{
	color : white;
}

.card-white{ 
	text-align: center;
	background: white;
	width: 800px;
	margin: 0px auto;
	margin-top: 20px;
	padding: 40px;
	box-shadow: 0 10px 30px rgba(0, 0, 0,.1);
	border-radius: 20px;
}


.container{
	width: 800px;
	margin: 0px auto;
}

.btn-purple {
	background-color: #913175;
	padding: 15px 20 px;
	border-radius: 15px;
	margin: 30	px;
}

.btn-purple:hover {
	background-color: black;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
	color: #CD5888;
}

.list-inline li{
		display: inline;
		padding: 30px;
}

.list-inline i{
	color: #913175;
	font-size: 50px;
	margin-top: 30px;
}

.list-inline i:hover{
	color: black;
}
@media (max-width: 960px) {
	.container{width: 700px}

}

@media (max-width: 720px) {
	.container{width: 500px}

}
@media (max-width: 540px) {
	.container{width: 300px}

}

